$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 500;
$font-weight-bold: 700;
$font-weight-extrabold: 900;

$font-family-globals: 'Roboto', sans-serif;

$primary-color-light: #1BCBF2;
$secondary-color-light: #66F2F2;

$primary-color-dark: #12385C;
$secondary-color-dark: #001973;

$extra-color-light: #F25E7A;
$extra-color-Dark: #8C113E;

$light-color: #F2F2F2;
$dark-color: #141414;

$primary-color-font: #141414;
$secundary-color-font: #F2F2F2;